textarea {
    resize: none;
}

#log-console {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    width: 100%;
    position: fixed;
    bottom: 0;
}


.lobby-type {
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid green ;*/
}


