
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.red {
    color: red;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Responsive mobile & touch support */
@media screen and (max-width: 768px) {
    body {
      -webkit-overflow-scrolling: touch; /* Safari 3.1+ */
      -moz-overflow-scrolling: touch; /* Firefox 2+ */
      -ms-overflow-scrolling: touch; /* IE 10+ */
      overflow-scrolling: touch; /* Standard syntax */
      -webkit-user-select: none; /* Safari 3.1+ */
      -moz-user-select: none; /* Firefox 2+ */
      -ms-user-select: none; /* IE 10+ */
      user-select: none; /* Standard syntax */
    }
  }
